*{font-family:'S-Core Dream WF', sans-serif;font-weight:400;font-size:16px;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
pre{max-height:350px;}

.container-fluid{position:relative;width:100%;}
.container{position:relative;width:1200px;margin:0 auto;}

.header{text-align:center;padding:24px 0;background-color:#f5f7fc;margin-bottom:32px;box-shadow:0 2px 5px rgba(0,0,0,.1);}
    .header h1{font-weight:600;font-size:32px;}
    .header h1 img{max-height:48px;display:inline-block;margin-bottom:16px;}
h2{font-size:24px;font-weight:500;}
    h2 span{display:inline-block;font-weight:400;font-size:16px;padding:4px 16px;background-color:#000;color:#fff;border-radius:4px;}
.desc ol{margin-left:20px;}
    .desc ol li{list-style:decimal;padding:4px 0;}
    .desc a[download]{display:inline-block;padding:4px 16px;background-color:#000;color:#fff;border-radius:4px;margin-top:8px;}
.preview{margin-top:16px;color:#999;}
.step{padding:8px 0;}
    .step+.step{margin-top:16px;}
.module_wrap{margin-top:32px;}
    .tab_wrap{margin:0 -.5% 16px;}
    .tab_wrap > div{float:left;padding:8px 16px;text-align:center;width:19%;margin:.5%;border:1px solid #ccc;cursor:pointer;}
    .tab_wrap > div.active{background-color:#ccc;}
    .tcont_wrap > div{display:none;}
    .tcont_wrap > div.active{display:block;}
    .tcont_wrap .desc{padding:24px;margin:16px auto;background-color:#f9f9f9;border:1px solid #d4d4d4;border-radius:8px;}
    .tcont_wrap .desc .class{display:inline-block;padding:2px 6px;margin-right:8px;background-color:#009c7c;font-size:14px;border-radius:4px;color:#fff;}
    .container.mod_nm{margin:8px auto;}
    .mod_nm.gap{margin-top:40px;}
    .mod_nm span{display:inline-block;padding:4px 8px;margin-right:8px;background-color:#fabe0f;font-size:14px;border-radius:4px;}
#mod_select.fixed{position:sticky;top:0;background-color:#fff;z-index:1000;width:100%;}
    #mod_select.fixed .tab_wrap{width:calc(1200px + 1%);margin:0 auto;}
.footer{text-align:center;background-color:#161616;color:#fff;padding:40px 0;margin-top:40px;}

@media all and (max-width:1024px) {
    .container, #mod_select.fixed .tab_wrap{width:calc(100% - 56px);}
    .tab_wrap > div{width:32.333333%;}
}

@media all and (max-width:768px) { }

@media all and (max-width:640px) { }

@media all and (max-width:480px) { 
    .tab_wrap > div{width:49%;}
}