*{font-family:'S-Core Dream WF', sans-serif;font-weight:400;font-size:16px;box-sizing:border-box;}
html,body{position:relative;width:100%;height:100%;margin:0;padding:0;}
.clearfix:before,.clearfix:after{content:"";display:block}.clearfix:after{clear:both;visibility:hidden;line-height:0;height:0}.clearfix{*zoom:1}
img{max-width:100%;line-height:0;}
ul,ol,li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:inherit;}

.container-fluid{position:relative;width:100%;}
.container{position:relative;width:1200px;margin:0 auto;}

.mod_history01 h3{font-weight:600;font-size:40px;text-align:center;}
    .mod_history01 h3 span{display:block;color:#ccc;font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;}
    .mod_history01 .history{position:relative;width:1200px;margin:0 auto;}
    .mod_history01 .history > div::after{content:"";display:block;width:24px;height:100%;background-color:#e4e4e4;position:absolute;left:50%;transform:translateX(-50%);top:0;}
    .mod_history01 .history > div:last-child::after{border-radius:0 0 20px 20px;}
    .mod_history01 .history > div > span{
        background: linear-gradient(90deg, rgba(56,168,255,1) 0%, rgba(55,165,255,1) 100%);color:#fff;
        border-radius:24px;padding:8px 48px 8px 24px;
        position:absolute;left:50%;transform:translateX(-50%);
        font-size:24px;display:block;z-index:1;
    }
    .mod_history01 .history > div > span::after{
        content:"";display:block;width:24px;height:24px;background-color:#fff;border-radius:50%;position:absolute;right:10px;top:50%;transform:translateY(-50%);
        box-shadow:0 0 10px rgba(0,0,0,.1);
    }
    .mod_history01 .history > div:nth-child(even) > span{padding:8px 24px 8px 48px;}
    .mod_history01 .history > div:nth-child(even) > span::after{right:auto;left:10px;}
    .mod_history01 .history > div > ul{width:calc(50% - 100px);margin-left:auto;}
    .mod_history01 .history > div:nth-child(even) > ul{margin-left:0;}
    .mod_history01 .history > div > ul > li{display:flex;margin-bottom:8px;}
    .mod_history01 .history > div:nth-child(even) > ul li{flex-direction:row-reverse;text-align:right;}
    .mod_history01 .history > div > ul > li .month{color:#3c7df2;margin-right:16px;font-weight:500;}
    .mod_history01 .history > div:nth-child(even) > ul > li .month{margin-right:0;margin-left:16px;}
    .mod_history01 .history > div ul > li .event span{display:block;margin-bottom:4px;}

.mod_history02 h3{font-weight:600;font-size:40px;text-align:center;}
    .mod_history02 h3 span{display:block;color:#ccc;font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;}
    .mod_history02 .history{position:relative;width:1200px;margin:0 auto;}
    .mod_history02 .history .slick-slide > span{
        display:block;position:relative;border-top:1px solid #96052e;margin-top:16px;padding:24px 24px 16px 0;
        font-size:24px;color:#666;font-weight:700;letter-spacing:-1px;
    }
    .mod_history02 .history .slick-slide > span::before{
        content:"";position:absolute;width:16px;height:16px;border-radius:50%;background-color:#96052e;left:0;top:-8px;
    }
    .mod_history02 .history .slick-slide > ul{width:calc(100% - 32px);}
    .mod_history02 .history .slick-slide > ul li{display:flex;margin-bottom:8px;}
    .mod_history02 .history .slick-slide > ul li .month{color:#96052e;margin-right:16px;font-weight:500;min-width:40px;}
    .mod_history02 .history .slick-slide > ul li .month::after{content:"월";display:inline-block;}
    .mod_history02 .history > div ul > li .event span{display:block;margin-bottom:4px;}
    .mod_history02 .history .slick-arrow{
        position:absolute;top:50%;transform:translateY(-50%);border:none;font-size:0;width:29px;height:54px;
        background:transparent url(./images/slider_arrow.png) no-repeat;opacity:.7;
    }
    .mod_history02 .history .slick-arrow.slick-disabled{opacity:.1;}
    .mod_history02 .history .slick-arrow.slick-prev{left:-72px;background-position:0 0;}
    .mod_history02 .history .slick-arrow.slick-next{right:-72px;background-position:-29px 0;}

.mod_history03 h3{font-weight:600;font-size:40px;text-align:center;}
    .mod_history03 h3 span{display:block;color:#ccc;font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;}
    .mod_history03 .history{position:relative;width:1200px;margin:0 auto;}
    .mod_history03 .history > div{display:flex;justify-content:space-between;flex-wrap:wrap;}
    .mod_history03 .history > div > span{width:240px;display:block;border-top:1px solid #fa0203;color:#ccc;padding:24px 0;font-size:30px;font-weight:600;}
    .mod_history03 .history > div > ul{width:calc(100% - 264px);margin-left:24px;border-top:1px solid #ccc;padding:24px 0;}
    .mod_history03 .history > div > ul > li .month{display:none;}
    .mod_history03 .history > div > ul > li .event span{display:block;margin-bottom:8px;padding-left:32px;}
    .mod_history03 .history > div > ul > li .event span::before{content:"ㆍ";display:inline-block;width:0;color:#fa0203;left:-32px;position:relative;}

.mod_history04 h3{font-weight:600;font-size:40px;text-align:center;}
    .mod_history04 h3 span{display:block;color:#ccc;font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;}
    .mod_history04 .history_wrap{position:relative;width:1200px;margin:0 auto;}
    .mod_history04 .history_wrap .thumb{float:left;width:560px;position:relative;}
    .mod_history04 .history_wrap .thumb span{
        position:absolute;display:inline-block;left:50%;top:50%;transform: translate(-50%, -50%);
        background-color:rgba(9, 37, 129, 0.7);color:#fff;font-size:20px;padding:24px 32px;letter-spacing:8px;
    }
    .mod_history04 .history_wrap .history{float:right;width:calc(100% - 640px);position:relative;padding-left:48px;}
    .mod_history04 .history::after{content:"";display:block;width:1px;height:100%;background-color:#ccc;position:absolute;left:20px;top:10px;}
    .mod_history04 .history  > div > span{font-size:26px;font-weight:600;color:#0f53a4;}
    .mod_history04 .history  > div > span::before{
        content:"";display:block;width:20px;height:20px;background-color:#4a9dfb;border-radius:50%;position:absolute;left:10px;margin-top:10px;z-index:1;
    }
    .mod_history04 .history  > div+div{margin-top:32px;}
    .mod_history04 .history > div > ul > li{display:flex;margin-top:16px;}
    .mod_history04 .history > div > ul > li .month{margin-right:16px;font-weight:500;}
    .mod_history04 .history > div ul > li .event span{display:block;margin-bottom:4px;}

.mod_info01{display:flex;justify-content:space-around;background-image:url(http://placeimg.com/1000/1000/arch);background-size:cover;background-position:50% 50%;}
    .mod_info01 > div{flex:1;text-align:center;padding:300px 0;background-color:rgba(80, 80, 80, 0.75);}
    .mod_info01 > div+div{border-left:1px solid rgba(255,255,255,.5);}
    .mod_info01 > div .num{color:#58fffd;font-size:20px;}
    .mod_info01 > div .tit{color:#fff;font-size:40px;font-weight:600;}
    .mod_info01 > div hr{border-width:1px;border-style:solid none;border-color:#fff;width:32px;margin:64px auto;}
    .mod_info01 > div .vision, .mod_info01 > div .mission, .mod_info01 > div .slogan{color:#fff;font-size:24px;max-width:60%;margin:0 auto;}

.mod_info02{display:flex;justify-content:space-around;flex-wrap:wrap;}
    .mod_info02 > div{flex:1 1 45%;}
    .mod_info02 > div:nth-child(1), .mod_info02 > div:nth-child(5){line-height:0;}
    .mod_info02 > div:nth-child(even), .mod_info02 > div:nth-child(3){display:flex;flex-direction:column;justify-content:center;align-items:center;background-color:#f4f4f4;text-align:center;}
    .mod_info02 > div:nth-child(3){flex:2 1 100%;background-color:#568cc4;padding:80px 0;color:#fff;}
    .mod_info02 > div .num{color:#0971ce;font-size:20px;}
    .mod_info02 > div:nth-child(3) .num{color:#fff;}
    .mod_info02 > div .tit{font-size:40px;font-weight:600;}
    .mod_info02 > div hr{border-width:1px;border-style:solid none;border-color:#161616;width:32px;margin:64px auto;}
    .mod_info02 > div:nth-child(3) hr{border-color:#fff;}
    .mod_info02 > div .vision, .mod_info02 > div .mission, .mod_info02 > div .slogan{font-size:24px;max-width:60%;margin:0 auto;}

    .mod_info02.type2 .inner_box{background-color:#fff;box-shadow:0 8px 16px rgba(0,0,0,.05);padding:64px;max-width:60%;}
    .mod_info02.type2 > div:nth-child(3){background-color:#aacc03;}
    .mod_info02.type2 > div .num{color:#e30012;}
    .mod_info02.type2 > div:nth-child(3) .num{color:#fff;}
    .mod_info02.type2 > div .tit{margin-bottom:8px;}
    .mod_info02.type2 > div .vision, .mod_info02.type2 > div .mission{max-width:100%;}

.mod_interview01{background-color:#215350;padding:64px 0;}
    .mod_interview01 h3{font-weight:600;font-size:40px;text-align:center;color:#fff;}
    .mod_interview01 h3 span{display:block;color:rgba(255,255,255,.75);font-size:21px;letter-spacing:12px;font-weight:400;margin-bottom:8px;}
    .mod_interview01 .interview_wrap{position:relative;width:1200px;margin:0 auto;}
    .mod_interview01 .interview_wrap .iv_tab{display:flex;flex-direction:row;}
    .mod_interview01 .interview_wrap .iv_tab > div{
        flex:1 1 30%;background-color:#ccc;color:#fff;font-weight:500;font-size:20px;text-align:center;
        border-radius:16px 16px 0 0;padding:24px 0;cursor:pointer;
    }
    .mod_interview01 .interview_wrap .iv_tab > div.active{background-color:#fff;color:#161616;}
    .mod_interview01 .interview_wrap .iv_cont > div{display:none;background-color:#fff;border-radius:0 0 16px 16px;position:relative;overflow:hidden;}
    .mod_interview01 .interview_wrap .iv_cont > div.active{display:block;}
    .mod_interview01 .interview_wrap .iv_cont > div .photo{line-height:0;float:right;border-radius:75% 0 0 0;overflow:hidden;max-width:38%;}
    .mod_interview01 .interview_wrap .iv_cont > div .interview{float:left;max-width:60%;padding:48px 32px 48px 92px;position:static;}
    .mod_interview01 .interview_wrap .iv_cont > div .interview .q{color:#4aa1a0;font-weight:500;font-size:20px;}
    .mod_interview01 .interview_wrap .iv_cont > div .interview .q::before{content:"Q. ";}
    .mod_interview01 .interview_wrap .iv_cont > div .interview .a{margin-top:24px;}
    .mod_interview01 .interview_wrap .slick-arrow{
        position:absolute;top:50%;transform:translateY(-50%);border:none;font-size:0;width:70px;height:100px;
        background-color:rgba(0,0,0,.5);
        background-image:url(./images/slider_arrow2.png);background-repeat:no-repeat;opacity:.7;z-index:1;
    }
    .mod_interview01 .interview_wrap .slick-arrow.slick-disabled{opacity:.1;}
    .mod_interview01 .interview_wrap .slick-arrow.slick-prev{left:0;background-position:0 0;}
    .mod_interview01 .interview_wrap .slick-arrow.slick-next{right:0;background-position:-70px 0;}
    .mod_interview01 .interview_wrap .slick-dots{display:flex;justify-content:center;margin-top:32px;position:absolute;bottom:48px;}
    .mod_interview01 .interview_wrap .slick-dots li{margin:0 4px;background-color:#9b9b9b;width:16px;height:16px;border-radius:8px;cursor:pointer;}
    .mod_interview01 .interview_wrap .slick-dots li.slick-active{background-color:#3abab7;width:40px;}
    .mod_interview01 .interview_wrap .slick-dots li button{display:none;}
    

@media all and (max-width:1024px) {
    .container, .mod_history01 .history, .mod_history02 .history, .mod_history03 .history, .mod_history04 .history_wrap{width:calc(100% - 56px);}
    .mod_info01 > div{padding:240px 0;}
    .mod_info02 > div hr{margin:32px auto;}
    .mod_info02 > div .vision, .mod_info02 > div .mission, .mod_info02 > div .slogan{font-size:20px;}
}

@media all and (max-width:768px) {
    .mod_info01{flex-direction:column;}
    .mod_info01 > div{padding:112px 0;}
    .mod_info01 > div hr{margin:32px auto 48px;}
    .mod_info01 > div+div{border-left:none;border-top:1px solid rgba(255,255,255,.5);}
    .mod_info02 > div{flex:1 1 100%;}
    .mod_info02 > div:nth-child(2), .mod_info02 > div:nth-child(3), .mod_info02 > div:nth-child(4){padding:64px 0;}
 }

@media all and (max-width:640px) { }

@media all and (max-width:480px) {
    .mod_history01 .history > div::after{position:absolute;left:51px;transform:none;}
    .mod_history01 .history > div > span{left:0;transform:none;}
    .mod_history01 .history > div > ul, .mod_history01 .history > div:nth-child(even) > ul{width:calc(100% - 100px);margin-left:100px;padding:64px 0 24px;}
    .mod_history01 .history > div:nth-child(even) > ul li{flex-direction:row;text-align:left;}
    .mod_history01 .history > div:nth-child(even) > ul > li .month {margin-right:16px;margin-left:0;}
    .mod_history01 .history > div:nth-child(even) > span{padding: 8px 48px 8px 24px;}
    .mod_history01 .history > div:nth-child(even) > span::after{right:10px;left:auto;}
    .mod_history03 .history > div > span{width:100%;}
    .mod_history03 .history > div > ul{width:100%;margin-left:0;}
    .mod_history04 .history_wrap .thumb, .mod_history04 .history_wrap .history{float:none;width:100%;}
    .mod_history04 .history_wrap .thumb{margin-bottom:24px;}
    .mod_info02.type2 .inner_box{max-width:80%;}
}