
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{text-decoration: none;color: inherit}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;border-spacing: 0
}
table caption{text-indent: -99999px;height: 0;width: 0;overflow: hidden}
body {
  font-family: "Noto Sans KR", sans-serif ;
}


.inner{max-width: 1200px;width: calc(100% - 40px);margin: auto}
.tct{text-align: center}
.tlt{text-align: left}
.trt{text-align: right}
.f20{font-size: 20px}
.f18{font-size: 18px}
.f14{font-size: 14px}
.f13{font-size: 13px}
.f28{font-size: 28px}
.f24{font-size: 24px}
.pb0{padding-bottom: 0}
.mg50 {margin: 50px 0}
.mt100{margin-top: 100px}
.mt5 {margin-top: 5px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mt30{margin-top: 30px}
.mt70{margin-top: 70px}
.bold{font-weight: 600}
.bold02{font-weight: 500}
.diag_wrap .blue{color: #003d92}
.diag_wrap .gray{color: #787878}
.diag_wrap .mt10{margin-top: 10px}
.diag_wrap .img_wrap{text-align: center;}
.diag_wrap .img_wrap img{max-width: 100%;}
.diag_select{ -webkit-appearance: none;  -moz-appearance: none;    appearance: none;    background: url(../images/diag/arrow.png) no-repeat right 20px center #fff;padding: 15px 40px 15px 20px;border: 1px solid #d1d1d1 ;border-radius: 10px;font-size: 16px;font-weight: 600;color: #333}
.diag_select::-ms-expand {display: none;}
.diag_wrap .square_tit{font-size: 18px;font-weight: 500;position: relative;padding-left: 30px}
.diag_wrap .square_tit:before{content: '';display: block;width: 18px;height: 18px;border: 6px solid #159fcc;box-sizing: border-box;position: absolute;left: 0;top: 5px}
.ref_list li{font-size: 13px;color: #787878;position: relative;padding-left: 20px;margin-bottom: 10px}
.ref_list li:before{content: '※';display: block;position: absolute;left: 0;top: 0}
.ref_list li:last-child{margin-bottom: 0}

/* 버튼 style */
.diag_wrap .btn_style01{display: inline-block;padding: 10px 45px;background: #eee;}
.diag_wrap .btn_style01.btn_blue{background: #05a1ff;color: #fff;font-size: 18px} 
.diag_wrap .btn_style02{display: inline-block;padding: 5px 20px;font-size: 12px;background: #eee;border: 1px solid #e2e2e2;color: #133c72}
.diag_wrap .btn_style03{font-size: 14px;background: #133c72;color: #fff;padding: 10px 40px;display: inline-block;border-radius: 20px}
.diag_wrap .btn_style04{font-size: 14px;padding: 8px 50px;border: 1px solid #133c72;color:#133c72 ;border-radius: 30px;}

/* table style */
.diag_wrap .table_style01 th{background: #f7f7f8;}
.diag_wrap .table_style01 th,
.diag_wrap .table_style01 td{border:1px solid #bfbfbf;padding: 10px 20px;color: #787878;font-size: 13px}
.diag_wrap .table_style02{width: 100%}
.diag_wrap .table_style02 thead .border{border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;} 
.diag_wrap .table_style02 thead .border th{padding: 10px;font-size: 12px;color: #787878;font-weight: 400}
.diag_wrap .table_style02 thead .q{text-align: left;padding-bottom: 15px} 
.diag_wrap .table_style02 tbody td{padding: 20px;font-size: 14px;color: #787878;}
.diag_wrap .table_style02 tbody tr:nth-child(odd){background: #f9f9f9}

/* 라디오 버튼 */
.diag_checks label {font-size: 14px;color: #949494;font-weight: bold;vertical-align: middle;position: absolute;z-index: 999;display: flex;width: 30px;display: block;text-align: center;line-height: 30px;}
.diag_checks input[type="radio"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;
}
.diag_checks input[type="radio"]+label {display: inline-block;position: relative;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
}
.diag_checks input[type="radio"]+label:before {content: '';position: absolute;left: 0px;top: 0px;width: 30px;height: 30px;text-align: center;background: #fff;border: 1px solid rgba(102, 102, 102, 0.7);border-radius: 100%;box-shadow: none;z-index: -1;box-sizing: border-box}
.diag_checks input[type="radio"]:checked+label:before {background: #fff;border-color: #05a1ff;} 
.diag_checks input[type="radio"]:checked+label:after {content: '';position: absolute;top: 0;left: 0;width: 30px;height: 30px;background: #05a1ff;z-index: -1;border-radius: 100%;box-shadow: none;}

.diag_checks input[type="radio"]:checked+label{color: #fff}
.diag_checks  .mb_show{display: none}

.diag_wrap .bg_gray{background: #f9f9f9;border: 1px solid #d4d4d4;padding: 40px;border-radius: 5px}
.diag_wrap .white_box{padding: 40px 30px;border: 1px solid #d4d4d4;border-radius: 15px}

/* 사전진단 서비스 */
.before_diag {margin-bottom: 100px}
.before_diag .bd_visual{font-family: 'GmarketSans',sans-serif;position: relative;}
.before_diag .bd_visual:before {content: '';display: block;background: url(../images/diag/bd_top_img.png) no-repeat;width: 635px;height: 612px;position: absolute;left: 0;}
.before_diag .bd_visual .bd_top{background:  #9dd2f2;padding: 80px 0 50px 0;padding-left: 700px}
.before_diag .bd_visual .top_tit{margin-bottom: 50px;position: relative;}
.before_diag .bd_visual .top_tit:before{content: '';display: block;width: 123px;height: 34px; background: url(../images/diag/bd_top.png) no-repeat;position: absolute;left: -130px;top: -10px}
.before_diag .bd_visual .top_tit p{font-size: 22px;margin-bottom: 10px}
.before_diag .bd_visual .top_tit h3{font-size: 100px;font-weight: bold;color: #133c72;text-shadow: 5px 5px 0 #5aa3da}
.before_diag .bd_visual .top_tit h3 span{color: #fff}
.before_diag .bd_visual .bd_top ul li{background: #2a5c90;padding: 10px 10px 10px 55px;border-radius: 30px;color: #fff;width: 630px;margin-bottom: 10px;position: relative;box-sizing: border-box;word-break: keep-all}
.before_diag .bd_visual .bd_top ul li:last-child{margin-bottom: 0}
.before_diag .bd_visual .bd_top ul li:before{content: '';display: block;background: url(../images/diag/check.png) no-repeat;width: 39px;height: 32px;position: absolute;left: 15px;top: 0}
.before_diag .bd_visual .bd_bottom{background: url(../images/diag/bd_top02.png) no-repeat #3f88e9 top 30px left;padding: 80px 0 50px 0}
.before_diag .bd_visual .bd_bottom h3{font-size: 32px;text-align: center;font-weight: bold;color: #fff;margin-bottom: 30px}
.before_diag .bd_visual .bd_bottom h3 span{color: #f7ec34}
.before_diag .bd_visual .bd_bottom .item_wrap{display: flex;justify-content: center;text-align: center;color: #fff;}
.before_diag .bd_visual .bd_bottom .item_wrap .item{margin-right: 50px}
.before_diag .bd_visual .bd_bottom .item_wrap .item:last-child{margin-right: 0}
.before_diag .bd_visual .bd_bottom .item_wrap .img{height: 207px;display: flex;justify-content: center;align-items: center;margin-bottom: 20px;}
.before_diag .bd_exp {background: #f9f9f9;padding: 80px 0 50px 0}
.before_diag .bd_exp .in{max-width: 672px;margin: auto;width: calc(100% - 40px)}
.before_diag .bd_exp .select_area{display: flex;justify-content:center;margin: 30px 0}
.before_diag .bd_exp .select_area li{margin-right: 15px}
.before_diag .bd_exp .select_area li:last-child{margin-right: 0}
.before_diag .bd_exp .select_area .diag_select{width: 214px; }

/*diag_list*/
.before_diag .diag_list{margin: 80px 0 50px 0}
.before_diag .diag_list .diag_list_area{display: flex;margin-bottom: 50px;padding-bottom: 50px;border-bottom: 1px dotted #f1f1f1}
.before_diag .diag_list .diag_list_area:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: 0;}
.before_diag .diag_list .diag_list_area .tit {width: 200px;font-size: 17px;font-weight: bold;color: #133c72;padding-top: 10px}
.before_diag .diag_list .diag_list_area .cont_wrap {width: calc(100% - 200px);display: flex;flex-wrap: wrap;flex-direction:column;}
.before_diag .diag_list .diag_list_area .cont {display: flex;align-items: center;margin-bottom:30px}
.before_diag .diag_list .diag_list_area .cont:last-child{margin-bottom: 0}
.before_diag .diag_list .diag_list_area .txt {width: calc(100% - 200px);color: #787878}
.before_diag .diag_list .diag_list_area .btn_wrap {width: 280px;}
.before_diag .diag_list .btn_wrap ul{display: flex;}
.before_diag .diag_list .btn_wrap ul li:first-child{margin-right: 10px}
.before_diag .diag_list .btn_radio{position: relative;width: calc(50% - 5px);}
.before_diag .diag_list .btn_radio input{height: 30px;width: 100%; opacity: 0;cursor: pointer}
.before_diag .diag_list .btn_radio label{position: absolute;top: 0; left: 0;color: #949494;width: 100%;height: 100%;font-size:14px;background: #fff;border: 1px solid #d1d1d1;display: flex;align-items: center;justify-content: center;border-radius:10px;cursor: pointer}
.before_diag .btn_wrap ul .btn_radio input:checked +  label {background: #133c72;font-weight: bold;color: #fff;border: 1px solid #133c72}
.before_diag .btn_wrap.tct{margin-top: 70px}

/* 팝업 */
.not_scroll {width: 100%;height: 100%;overflow: hidden;}

.diag_pop.w900{width: 900px;}
.diag_pop{position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);display: none;z-index: 999}
.result_pop{max-width: 780px;width:calc(100% - 60px)}
.diag_pop .dp_top{background: #133c72;color: #fff;padding: 15px 30px;display: flex;align-items: center;}
.diag_pop .dp_top .close{background: url(../images/diag/close_btn.png) no-repeat;text-indent: -9999px;width: 17px;height: 17px;margin-left: auto}
.diag_pop .dp_cont{background: #fff;border: 1px solid rgba(0, 0, 0, 0.22);border-top: 0;max-height: calc(100vh - 400px);padding: 40px;overflow-y: scroll}
.diag_pop.jt_pop .dp_cont{border-bottom: 0}
.diag_pop .bottm_close{background: #f7f7f8;padding: 15px 40px;display: flex;flex-direction: column;border: 1px solid rgba(0, 0, 0, 0.22);border-top: 0;}
.diag_pop .bottm_close a{display: inline-block;margin-left: auto;position: relative;font-size: 13px}
.diag_pop .bottm_close a:before{content: '';display: block;width: calc(100% + 4px);left: 50%;transform: translateX(-50%);height: 1px;background: #000;position: absolute;right: 0;bottom: -5px;}

/* 사전진단결과 */
.before_result{margin-top: 40px}
.before_result .item{display: flex;text-align: center;margin-bottom: 20px}
.before_result .item:last-child{margin-bottom: 0}
.before_result .tit{width: 200px;display: flex;align-items: center;justify-content: center;text-align: center;background: #ddd;font-weight: bold;}
.before_result .table_style01{width: 100%}
.before_result .table_style01 th {font-weight: 400;height: auto}
.before_result table{width: 100%}
.before_result .item:nth-child(odd) .tit{background: #133c72;color: #fff}
.before_result .item:nth-child(even) .tit{background: #05a1ff;color: #fff}
.before_result .item .normal{color: #133c72;font-weight: bold}
.before_result .item .bad{color: #e80f0f;font-weight: bold}
.bd_result .white_box{box-shadow: 0 5px 0 0 #f7f7f7;margin-top: 60px}

/* 서브 비쥬얼*/
.tit_nav_diag .bg_wrap:after{background: url(../images/diag/diag_nav.png) no-repeat;}

/* 직업선호도 진단서비스 */
.job_diag .img_wrap{margin: 90px 0 30px 0}
.job_diag .diag_section2{background: url(../images/diag/job_img02.png) no-repeat right center}
.job_diag .diag_section2 ul {margin-top: 50px}
.job_diag .diag_section2 li {display: flex;margin-bottom: 10px;align-items: center;color: #666}
.job_diag .diag_section2 li strong{background: #133c72;color: #fff;padding: 5px 15px;font-weight: 600;border-radius: 10px;margin-right: 15px;}

.job_diag .diag_section3{background: #eff8ff;padding: 80px 0 30px 0}
.job_diag .job_selct{display: flex;justify-content: center;margin: 70px 0 60px 0}
.job_diag .job_selct a{display: flex;padding:10px;text-align: center;justify-content: center;align-items: center;background: #fff;border: 1px solid #133c72;font-size: 20px;width: 200px;height: 140px;border-radius: 15px;margin-right: 115px}
.job_diag .job_selct a:last-child{margin-right: 0}
.job_diag .job_selct a:hover,
.job_diag .job_selct a:active,
.job_diag .job_selct a:focus{background: #133c72;color: #fff}
.job_diag .job_selct a.active{background: #133c72;color: #fff}
.job_diag .diag_section4{color: #fff;}
.job_diag .diag_section4 .inner {position: relative}
.job_diag .diag_section4 p{position: absolute;padding-left: 35px;left: 0;top: 50%;transform: translateY(-50%);display: flex;align-items: center}
.job_diag .diag_section4 p:before{content: '';display: inline-block;background: url(../images/diag/check02.png) no-repeat;width: 27px;height: 27px;margin-right: 10px}
.job_diag .diag_section4 a{font-size: 30px;font-weight: bold;text-align: center;display: block;background: #05a1ff;padding: 40px 0;}

/* 직업선호도 진단 팝업  */
.jt_pop .job_type_wrap .job_type_area{display: flex;justify-content: space-between;border-bottom: 1px solid #ededed;padding-bottom: 40px;margin-bottom: 30px}
.jt_pop .job_type_wrap .job_type_area:last-child{margin-bottom: 0;border-bottom: 0;padding-bottom: 0}
.jt_pop .job_type_wrap .job_type_area .tit{width: 105px;height: 105px;background: #ddd;display: flex;align-items: center;justify-content: center;text-align: center;border-radius: 15px;color: #fff;line-height: 1.1;font-size: 14px}
.jt_pop .job_type_wrap .job_type_area .tit strong{display: block;font-size: 35px;}
.jt_pop .job_type_wrap .job_type_area:nth-child(1) .tit{background: #003d92}
.jt_pop .job_type_wrap .job_type_area:nth-child(1) .exp .f16{color: #003d92}
.jt_pop .job_type_wrap .job_type_area:nth-child(2) .tit{background: #fdbf00}
.jt_pop .job_type_wrap .job_type_area:nth-child(2) .exp .f16{color: #fdbf00}
.jt_pop .job_type_wrap .job_type_area:nth-child(3) .tit{background: #36afc5}
.jt_pop .job_type_wrap .job_type_area:nth-child(3) .exp .f16{color: #36afc5}
.jt_pop .job_type_wrap .job_type_area:nth-child(4) .tit{background: #a28cf8}
.jt_pop .job_type_wrap .job_type_area:nth-child(4) .exp .f16{color: #a28cf8}
.jt_pop .job_type_wrap .job_type_area:nth-child(5) .tit{background: #048aef}
.jt_pop .job_type_wrap .job_type_area:nth-child(5) .exp .f16{color: #048aef}
.jt_pop .job_type_wrap .job_type_area:nth-child(5) .exp .f16{color: #048aef}
.jt_pop .job_type_wrap .job_type_area:nth-child(6) .tit{background: #005cd3}
.jt_pop .job_type_wrap .job_type_area:nth-child(6) .exp .f16{color: #005cd3}
.jt_pop .job_type_wrap .job_type_area .cont{width: calc(100% - 135px);}
.jt_pop .job_type_wrap .job_type_area .exp{display: flex;justify-content: space-between;margin: 20px 0 40px 0}
.jt_pop .job_type_wrap .job_type_area .exp .txt{width: calc(100% - 200px);word-break: keep-all}
.jt_pop .job_type_wrap .job_type_area .btn{margin-left: auto;}
.jt_pop .job_type_wrap .job_type_area .cont_hide  li{display: flex;justify-content: space-between;align-items: flex-start;margin-bottom: 10px;align-items: center}
.jt_pop .job_type_wrap .job_type_area .cont_hide  li.vt{align-items: flex-start}
.jt_pop .job_type_wrap .job_type_area .cont_hide strong{color: #6184b5;font-weight: 400;border: 1px solid #c7cee1;width: 90px;text-align: center;padding:5px 10px;border-radius: 20px;}
.jt_pop .job_type_wrap .job_type_area .cont_hide li p{width: calc(100% - 90px);padding-left: 20px}
.jt_pop .job_type_wrap .job_type_area .btn_wrap a{background: #eeeeee;font-size: 12px;padding: 10px 30px;width: 135px;display: block;box-sizing: border-box;text-align: center;}
.jt_pop .job_type_wrap .job_type_area .txt .f16{font-weight: bold;margin-bottom: 3px}
.jt_pop .job_type_wrap .cont_hide{display: none}

/* 직업선호도 진단하기 */
.job_diag .bg_gray.jd_visual{background: url(../images/diag/job_img03.png) no-repeat #f9f9f9 right center;}
.job_diag .bg_gray.jd_visual .txt{max-width: 470px;width: 100%;}

/* 진단 table */
.diag_wrap .jc_list .item{margin-bottom: 45px}
.diag_wrap .jc_list .item:last-child{margin-bottom: 0}
.diag_wrap .jc_list .tit{font-size: 16px;font-weight: bold;margin-bottom: 10px}
.diag_wrap .jc_list .desc{font-size: 12px;color: #787878;}
.diag_wrap .jc_list .check_area .diag_checks{margin: auto}
.diag_wrap .diag_btn{margin-bottom: 100px}
.diag_btn a{margin-right: 15px}
.diag_btn a:last-child{margin-right: 0}
.diag_btn a.btn_style03{padding: 8px 50px}

@media all and (max-width:1600px){
	/*사전진단*/
	.before_diag .bd_visual:before{width: 450px;background-size: 450px;height: 430px}
	.before_diag .bd_visual .bd_top{padding-left: 500px}
	.before_diag .bd_visual .top_tit h3{font-size: 90px}
	.before_diag .bd_visual .bd_top ul li{width: 500px}
}

@media all and (max-width:1200px){
	/*사전진단*/
	.before_diag .bd_visual:before{background-size: 300px;width: 300px;height: 290px}
	.before_diag .bd_visual .bd_top{padding-left: 300px}
	
}

@media all and (max-width:1024px){
	/*사전진단*/
	.before_diag .bd_visual:before{background-size: 200px;width: 200px;height: 190px;}
	.before_diag .bd_visual .bd_top{padding-left: 0;padding-top: 200px}
	.before_diag .bd_visual .top_tit{margin-bottom: 30px}
	.before_diag .bd_visual .top_tit p{font-size: 18px}
	.before_diag .bd_visual .top_tit h3{font-size: 60px}
	.before_diag .diag_list .diag_list_area{display: block;}
	.before_diag .diag_list .diag_list_area .tit{width: 100%;padding-top: 0;margin-bottom: 20px}
	.before_diag .diag_list .diag_list_area .cont_wrap{width: 100%;}
	.before_diag .diag_list .diag_list_area .cont{margin-bottom: 10px}
	.before_diag .diag_list .btn_radio input{height: 30px;}
	.before_result .item{display: block;}
	.before_result .tit{width: 100%;padding: 10px;box-sizing: border-box}
	.before_result .tit br{display: none}
	/* 직업선호도진단 */
	.diag_pop{width: calc(100% - 40px)}
	.diag_pop.w900{max-width: 900px;width: 90%}
}

@media all and (max-width:768px){
	.f28 {font-size: 22px}
	.f24{font-size: 19px}
	.f20{font-size: 17px}
	.f18{font-size: 15px}
	.f16{font-size: 14px}
	.f14{font-size: 13px}
	.f13{font-size: 13px}
	.mt20{margin-top: 15px}
	.mt70{margin-top: 50px}
	.btn_style01.btn_blue{font-size: 14px !important;padding: 8px 30px}
	.diag_wrap .btn_style03{font-size: 13px;padding: 10px 20px}
	.diag_wrap .bg_gray{padding: 20px}
	.diag_wrap .white_box{padding: 20px}
	
	/*사전진단*/
	.before_diag .bd_visual:before{background-size: 150px;width: 150px;height: 140px;}
	.before_diag .bd_visual .bd_top{padding-top: 160px}
	.before_diag .bd_visual .top_tit p{font-size: 16px}
	.before_diag .bd_visual .top_tit h3{font-size: 40px}
	.before_diag .bd_visual .bd_top ul li{max-width: 500px;width: 100%;padding: 10px 10px 10px 45px}
	.before_diag .bd_visual .bd_top ul li:before{background-size: 25px;width: 25px;height: 20px;top: 5px}
	
	.before_diag .bd_visual .bd_bottom h3{font-size: 26px;margin-bottom: 15px}
	.before_diag .bd_visual .bd_bottom .item_wrap {flex-direction: column;}
	.before_diag .bd_visual .bd_bottom .item_wrap  .item{margin-bottom: 30px;margin-right: 0}
	.before_diag .bd_visual .bd_bottom .item_wrap  .item:last-child{margin-bottom: 0}
	.before_diag .bd_exp .select_area li{width: calc(33.333% - 10px)}
	.diag_select{font-size: 15px;background-size: 13px;padding: 15px 30px 15px 15px}
	.before_diag .bd_exp .select_area .diag_select{max-width: 100%;width: 100%}
	.before_diag .diag_list .diag_list_area .txt{padding-right: 20px}
	.before_diag .diag_list .diag_list_area .btn_wrap{width: 200px}
	.before_diag .diag_list .diag_list_area{margin-bottom: 30px;padding-bottom: 30px}
	.diag_wrap .btn_style02{display: block;margin-bottom: 5px}
	.diag_wrap .btn_style02:last-child{margin-bottom: 0}
	
	/* 사전진단 결과 */
	.before_result{margin-top: 20px}
	.before_result .tit{font-size: 15px}
	.diag_wrap .table_style01 th, 
	.diag_wrap .table_style01 td{padding: 10px}
	
	/*결과*/
	.before_diag .mg50.f28{margin: 30px 0}
	.diag_wrap .square_tit{font-size: 16px;}
	
	/* 팝업 */
	.diag_pop .dp_cont{padding: 20px;max-height: calc(100vh - 200px)}
	.diag_pop .bottm_close{padding: 10px 20px}
	
	/* 직업선호도 진단서비스 */
	.job_diag .diag_section2 ul{margin-top: 30px}
	.job_diag .img_wrap{margin: 30px 0 30px 0}
	.job_diag .bg_gray .btn_wrap{text-align: center}
	.job_diag .diag_section2{background: none}
	.job_diag .diag_section2 li strong{width: 83px;margin-right: 10px;text-align: center}
	.job_diag .diag_section2 li span{width: calc(100% - 93px)}
	.job_diag .job_selct a{margin-right: 50px}
	.job_diag .job_selct a{width: 180px}
	.job_diag .diag_section4 a{padding: 30px 0;font-size: 24px}
	.job_diag .diag_section4 p{position: relative;justify-content: center}
	.jt_pop .job_type_wrap .job_type_area{padding-bottom: 30px;margin-bottom: 20px}
	.jt_pop .job_type_wrap .job_type_area .exp{display: block;margin: 15px 0 20px 0}
	.jt_pop .job_type_wrap .job_type_area .exp .txt{width: 100%;margin-bottom: 15px}
	.job_diag .bg_gray.jd_visual{background: #f9f9f9;}
	.job_diag .bg_gray.jd_visual .txt{max-width: 100%;width: 100%;text-align: center}
	
	/* 진단하기 table */
	.jc_list .table_style02 thead .border{display: none}
	.jc_list .table_style02,
	.jc_list .table_style02 tbody,
	.jc_list .table_style02 tbody tr,
	.jc_list .table_style02 tbody td{display: block}
	.jc_list .table_style02 tbody tr{overflow: hidden;margin-bottom: 20px}
	.jc_list .table_style02 tbody tr:last-child{margin-bottom: 0}
	.diag_wrap .table_style02 tbody tr:nth-child(odd){background: #fff}
	.diag_wrap .jc_list .table_style02 tbody td{padding: 0}
	.diag_wrap .jc_list .table_style02 .mb_tit{font-weight: 500;margin-bottom: 15px}
	.diag_checks input[type="radio"]:checked+label{color: #949494}
	.diag_wrap .jc_list .check_area{float: left;width: 20%}
	.diag_wrap .jc_list .check_area strong{display: none}
	.diag_wrap .jc_list .check_area .mb_show{display: block;width: 100%;padding-top: 35px;line-height: 1.2}
	.diag_wrap .jc_list .diag_checks input[type="radio"]+label{width: 100%}
	.diag_checks label{font-size: 13px;font-weight: 500}
	.diag_checks input[type="radio"]+label:before,
	.diag_checks input[type="radio"]:checked+label:after{width: 25px;height: 25px;left: 50%;transform: translateX(-50%)}
	
	/* 진단 버튼 */
	.diag_wrap .diag_btn{margin-bottom: 50px}
	.diag_btn .btn_style04{padding: 7px 20px;font-size: 13px}
}

@media all and (max-width:480px){
	/*사전진단*/
	.before_diag .bd_visual:before{display: none}
	.before_diag .bd_visual .bd_top{padding-top:50px}
	.before_diag .bd_visual .top_tit h3{font-size: 30px}
	.before_diag .bd_visual .bd_bottom{padding: 50px 0}
	.before_diag .bd_visual .bd_bottom h3{font-size: 22px;word-break: keep-all}
	.before_diag .bd_exp{padding: 50px 0}
	.before_diag .diag_list{margin: 50px 0}
	.before_diag .bd_exp .select_area{display: block}
	.before_diag .bd_exp .select_area select{padding: 10px 30px 10px 10px}
	.before_diag .bd_exp .select_area li{width: 100%;margin-right: 0;margin-bottom: 5px}
	.diag_select{background-position: right 20px center;}
	.before_diag .bd_exp .select_area li:last-child{margin-bottom: 0}
	.before_diag {margin-bottom: 50px}
	.before_diag .diag_list .diag_list_area .btn_wrap{width: 100px}
	.before_diag .diag_list .diag_list_area .txt{width: calc(100% - 100px)}
	.before_diag .diag_list .diag_list_area .tit{margin-bottom: 15px}
	.before_diag .diag_list .btn_radio label{border-radius: 5px;height: 30px;font-size: 13px}
	.before_diag .diag_list .diag_list_area{margin-bottom: 20px;padding-bottom: 20px}
	.before_diag .btn_wrap.tct{margin-top: 50px}
	
		
	/* 직업선호도 진단서비스 */
	.job_diag .diag_section3{padding: 50px 0 30px 0}
	.job_diag .diag_section2 li{flex-direction: column;justify-content: flex-start;align-items: flex-start;margin-bottom: 15px}
	.job_diag .diag_section2 li strong{margin-right: 0;margin-bottom: 10px;}
	.job_diag .diag_section2 li span{width: 100%}
	.job_diag .job_selct{margin: 30px 0 20px 0}
	.job_diag .job_selct a{margin-right: 15px}
	.job_diag .job_selct a{max-width: 180px;width: calc(50% - 7.5px);height: 100px;font-size: 16px}
	.jt_pop .job_type_wrap .job_type_area{display: block;text-align: center;margin-bottom: 15px;padding-bottom: 15px}
	.jt_pop .job_type_wrap .job_type_area .cont{width: 100%;}
	.jt_pop .job_type_wrap .job_type_area .exp{margin: 15px 0 0 0}
	.jt_pop .job_type_wrap .job_type_area .tit{width: 80px;height: 80px;font-size: 13px;margin: auto}
	.jt_pop .job_type_wrap .job_type_area .tit strong{font-size: 26px}
	.jt_pop .job_type_wrap .job_type_area .btn_wrap a{padding: 8px 20px;margin: auto}
	.jt_pop .job_type_wrap .job_type_area .cont_hide{margin-top: 20px}
	.jt_pop .job_type_wrap .job_type_area .cont_hide li{display: block;}
	.jt_pop .job_type_wrap .job_type_area .cont_hide strong{width: 60px;padding: 3px;margin:0 auto 5px auto;display: block;}
	.jt_pop .job_type_wrap .job_type_area .cont_hide li p{width: 100%;margin-top: 10px;padding-left: 0}
	.job_diag .bg_gray.jd_visual .txt {word-break: keep-all}
	
}